<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FantomConfig" type="Fantom.Configuration.FantomConfig"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Fantom" type="Fantom.Expression"/>
      </expressionBuilders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="System" connectionString="Server=.;Database=FantomDB;User Id=sa; Password=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <FantomConfig ConnectionStringName="System"/>
</configuration>